.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-bottom: 100px;
}

.blog-container .home-section-content {
  padding: 100px 0 0;
}

.blog-container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 65%;
  flex-basis: 65%;
}

.blog-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
}

.blog-container .home-blog-post {
  margin-bottom: 30px;
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
}

.blog-container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}

.blog-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Tilt Neon", cursive;
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    from(#9e6cae),
    color-stop(#8664ad),
    color-stop(#6b5eab),
    color-stop(#4958a8),
    to(#0152a3)
  );
  background-image: -o-linear-gradient(
    right bottom,
    #9e6cae,
    #8664ad,
    #6b5eab,
    #4958a8,
    #0152a3
  );
  background-image: linear-gradient(
    to left top,
    #9e6cae,
    #8664ad,
    #6b5eab,
    #4958a8,
    #0152a3
  );
  border-radius: 50px;
  color: #ffff;
  padding: 20px 40px;
  letter-spacing: 3px;
  text-align: center;
}

.blog-author h1 {
  padding-top: 30px;
  font-size: 30px;
}

.blog-author p {
  font-size: 20px;
}

.blog-post-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 60px 0;
}

.blog-post-categories .home-section-main-paragraph {
  padding-bottom: 20px;
}

.blog-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.blog-categories svg {
  font-size: 35px;
  margin-right: 15px;
}

.blog-categories a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 17px;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding-bottom: 20px;
}

.blog-categories a:hover {
  color: #e9e9e9d4;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
}

/* RESPONSIVE DESIGN */

@media (min-width: 500px) and (max-width: 767px) {
  .blog-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .home-blog-post {
    flex-basis: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .blog-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .blog-container-right {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .home-blog-post {
    flex-basis: 47% !important;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .blog-container-left {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
  }
}
